<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | Northern States League{% else %}Northern States League{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/nsl-site/assets/baseball-theme.css">
</head>
<body>
    <div class="top-image-wrapper">
    <img src="/nsl-site/assets/images/baseball-2410657_1280.jpg" 
         alt="NSL Baseball Action" 
         class="top-page-image">
</div>

    {% include navbar.html %}

    <main class="content-wrapper">
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>
